{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}My Django App{% endblock %}</title>

  <!-- Tailwind CDN -->
  <script src="https://cdn.tailwindcss.com"></script>

  <!-- FlyOn UI CDN -->
  <link href="https://cdn.jsdelivr.net/npm/flyonui@latest/dist/flyonui.css" rel="stylesheet">

  <!-- Custom CSS (if needed in future)-->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="bg-gray-50 text-gray-900">
    
  <!-- Navbar -->
   <nav class="bg-white shadow p-4 flex justify-between items-center">
    <h1 class="text-2xl font-bold text-blue-600">ANALYTICS</h1>
    <ul class="flex gap-6 text-gray-700 text-lg font-bold">
      <li><a href="/" class="hover:text-blue-500">📂 Course Excel Entry</a></li>
      <li><a href="{% url 'published_data' %}" class="hover:text-blue-500">✅ Published</a></li>
      <li><a href="{% url 'course_statistics' %}" class="hover:text-blue-500">📊 Analyzer</a></li>
    </ul>
  </nav>

  <!-- Page Content -->
  <main class="container mx-auto p-6">
    {% block content %}
    {% endblock %}
  </main>

  <footer class="bg-gray-100 text-center p-4 text-sm text-gray-600 mt-8">
    © 2025 My Django App. All rights reserved.
  </footer>

</body>
</html>
